<div class="container-fluid col w-100 header">
	<div class="w-100 header-bg"></div>
	<div class="d-flex align-items-center justify-content-center w-100 content">
		<h1>About Us</h1>
	</div>
</div>
<div class="container-fluid">
	<div class="row d-lg-flex d-block">
		<div class="col-lg-3 col-6 m-0 p-lg-5 px-5 py-3">
			<img class="img-fluid" src="assets/casper.jpg">
		</div>
		<div class="col-lg-9 col-12 p-5">
			<h1>Casper</h1>
			<p></p>
		</div>
	</div>
	<hr>
	<div class="row d-lg-flex d-block">
		<div class="col-lg-3 col-6 m-0 p-lg-5 px-5 py-3">
			<img class="img-fluid" src="...">
		</div>
		<div class="col-lg-9 col-12 p-5">
			<h1>Xavier</h1>
			<p></p>
		</div>
	</div>
	<hr>
	<div class="row d-lg-flex d-block">
		<div class="col-lg-3 col-6 m-0 p-lg-5 px-5 py-3">
			<img class="img-fluid" src="...">
		</div>
		<div class="col-lg-9 col-12 p-5">
			<h1>Anastasia</h1>
		</div>
	</div>
	<hr>
	<div class="row d-lg-flex d-block">
		<div class="col-lg-3 col-6 m-0 p-lg-5 px-5 py-3">
			<img class="img-fluid" src="...">
		</div>
		<div class="col-lg-9 col-12 p-5">
			<h1>Alicia</h1>
		</div>
	</div>
	<hr>
	<div class="row d-lg-flex d-block">
		<div class="col-lg-3 col-6 m-0 p-lg-5 px-5 py-3">
			<img class="img-fluid" src="...">
		</div>
		<div class="col-lg-9 col-12 p-5">
			<h1>Zi Yue</h1>
		</div>
	</div>
	<hr>
	<div class="row d-lg-flex d-block">
		<div class="col-lg-3 col-6 m-0 p-lg-5 px-5 py-3">
			<img class="img-fluid" src="...">
		</div>
		<div class="col-lg-9 col-12 p-5">
			<h1>Alex</h1>
		</div>
	</div>
	<hr>
</div>