<div class="navbar navbar-expand-lg bg-info">
	<div class="container-fluid">
		<a class="navbar-brand" href="./">Our Tempest</a>
		<button class="navbar-toggler" data-bs-target="navbarNav" data-bs-toggler="collapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav">
				<a class="nav-link" href="./">Home</a>
				<a class="nav-link" href="./about">About us</a>
				<a class="nav-link" href="./contact">Contact</a>
			</div>
		</div>
	</div>
</div>